<div class="row suscribe">
	<div class="col-md-12">
		<form class="form-inline" id="subscribe" action="//cocktailinsights.us13.list-manage.com/subscribe/post?u=73417957500a00eeeed9ac22e&id=dca066121c&c=?" method="get" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<h3 class="subscribe-title">Subscribe for our Blog</h3>
			<p id="alert-thanks">Thank you</p>
			<p id="email-alert">Please enter a valid email</p>
			<p id="alert-name">Please enter your first name</p>
			<div class="form-group">
				<input type="text" class="form-control" id="name" placeholder="First Name">
			</div>
			<div class="form-group">

				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
			<button type="submit" class="btn btn-primary">Subscribe</button>
		</form>
	</div>
</div>




