<div class="subscribe-section">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-offset-1 col-md-6 ">
				<section class="subscribe">
					<div class="subscribe-pitch">
						<h3>Subscribe</h3>
						<p>Subscribe to our blog to get notifications on new post</p>
					</div>
					<form id="subscribe" class="subscribe-form">
						<input id="email1" type="email" class="subscribe-input" placeholder="Email address" autofocus>
						<button type="submit" class="subscribe-submit">Subscribe</button>
					</form>
				</section>
				<p class="email-alert">Please enter a valid email</p>
				<p class="alert-thanks">Thank you</p>

			</div>
		</div>
	</div>
</div>





